<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.s5.mapper.ModuleMapper" >
    <resultMap id="BaseResultMap" type="com.space.shiro.bean.Module" >
        <!--<constructor >
            <idArg column="mid" jdbcType="INTEGER"  javaType="java.lang.Integer" />
            <arg column="mname" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>-->
        <id column="mid" property="id" jdbcType="INTEGER" />
        <result column="mname" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        mid, mname
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from module
        where mid = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from module
        where mid = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.space.shiro.bean.Module" >
        insert into module (mid, mname)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.space.shiro.bean.Module" >
        insert into module
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="mid != null" >
                mid,
            </if>
            <if test="mname != null" >
                mname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="mid != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="mname != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.space.shiro.bean.Module" >
        update module
        <set >
            <if test="name != null" >
                mname = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where mid = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.space.shiro.bean.Module" >
        update module
        set mname = #{name,jdbcType=VARCHAR}
        where mid = #{id,jdbcType=INTEGER}
    </update>
</mapper>